<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.naveenautomationlabs.NaveenAutomationFramework.Listener.CustomScreenShot" />
		<listener
			class-name="com.naveenautomationlabs.NaveenAutomationFramework.Listener.TransformerForFailedTestCase" />
		<listener
			class-name="com.naveenautomationlabs.NaveenAutomationFramework.Listener.ExtentReportListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class
				name="com.naveenautomationlabs.NaveenAutomationFramework.base.TestBase" />
			<class
				name="com.naveenautomationlabs.NaveenAutomationFramework.Tests.MyWishListTest" />
			<class
				name="com.naveenautomationlabs.NaveenAutomationFramework.Tests.MyAccountTest" />
			<class
				name="com.naveenautomationlabs.NaveenAutomationFramework.Tests.MacBookTest" />
			<class
				name="com.naveenautomationlabs.NaveenAutomationFramework.Tests.LaptopsAndNotebooksTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
